<nav class="navbar navbar-light justify-content-between navColor">
     <div class="container">
        <div class="navItems">
          <a class="navbar-brand instaLogo" [routerLink]="['/images']"><img  src="assets/instagram-logo.png"></a>
        </div>
        <div class="navItems">
         <form class="form-inline searchForm" [formGroup]="searchForm" (ngSubmit)="searchClicked(searchForm.value)">
           <input class="searchInput  form-control mr-sm-2"  type="search" formControlName="search" name="search" aria-label="Search"/>
           <button class="btn btn-secondary searchButton" type="submit"><i class="fa fa-search"></i></button>
         </form>
        </div>
        <div class="navItems">
          <a class="homeA" [routerLink]="['/images']" ><span class="navItemTitle"><i class="fa fa-home imageicon"> </i> Home</span></a>  
       </div>
       <div class="navItems">
        <a class="homeA" [routerLink]="['/upload']" ><span class="navItemTitle"><i class="fa fa-image imageicon"> </i> Upload Image</span></a>  
     </div>
     
    </div>
</nav>