<nav class="navbar navbar-light justify-content-between navColor">
     <div class="container">
        <div class="navItems">
          <a class="navbar-brand instaLogo" [routerLink]="['/images']"><img  src="assets/instagram-logo.png"></a>
        </div>
        <div class="navItems">
         <form class="form-inline searchForm"  >
           <input class="searchInput  form-control mr-sm-2" [(ngModel)]="search" type="search" name="search" aria-label="Search"/>
           <a class="btn btn-secondary searchButton" [routerLink]="['/images']" [queryParams]="{ searchParam: search}"  type="submit"><i class="fa fa-search"></i></a>
         </form>
        </div>
        <div class="navItems">
          <a class="homeA" [routerLink]="['/images']" ><span class="navItemTitle"><i class="fa fa-home imageicon"> </i> Home</span></a>  
       </div>
       <div class="navItems">
        <a class="homeA" [routerLink]="['/upload']" ><span class="navItemTitle"><i class="fa fa-image imageicon"> </i> Upload Image</span></a>  
     </div>
     
    </div>
</nav>