<div class="container">
    <div class="crd">
        <div class="row">
            <div class="col-md-10" >
                 <img class="img" [src]="image?.thumbnailUrl">
            </div>
            <div class="col-md-2">
        
                <div class="user" style="font-size: large;font-weight: bold;"><img class="imgUser"  src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="profile-img"  /> <a class="usernameTitle" [routerLink]="['/users',user.id]">{{user?.username}}</a></div>
                <div>
                    <button (click)="editClicked(image.id)"  class="btn btn-default imagesButton edit"  [ngClass]="{ 'is-active': isSelectedTab === 'Edit' }">
                            <span >Edit</span>  
                    </button>
                    <button (click)="deleteClicked(image.id)"  class="btn btn-default imagesButton delete"  [ngClass]="{ 'is-active': isSelectedTab === 'Delete' }">
                        <span>Delete</span>
                </button>
   
            </div>
                <hr>
                <div class="user"><span style="font-weight: bold;">Image Title: </span>{{image?.title}}</div>
                <div class="user"><span style="font-weight: bold;">Album Id: </span>{{image?.albumId}}</div>
                <div class="user"><span style="font-weight: bold;">URL: </span>{{image?.url}}</div>


                <hr style="margin-top: 500px;">
            </div>
        </div>

    </div>
</div>