<div class="container">
<div class="formCard">
<div class="col-md-12">
    <h4  class="cardTitle">Edit Image</h4>
</div>
<div class="fileUpload">
    <img [src]="image?.thumbnailUrl" />
    </div>
<div class="col-md-6">
    <form [formGroup]="editImageForm" (ngSubmit)="saveImage(editImageForm.value)">
        <div class="form-group forms">
            <label for="title">Title:</label>
            <input formControlName="title" 
                     id="title" 
                     type="text" 
                     class="form-control" 
                     name="title"
                     placeholder="image?.title"/>
        </div>
        <div class="form-group forms">
            <label for="url">URL:</label>
            <input formControlName="url" 
                     id="url" 
                     type="text" 
                     name="url"
                     class="form-control" 
                     placeholder="image?.url"/>
        </div>
        <div class="form-group forms">
            <label for="albumId">AlbumId:</label>
            <select id="albumId" name="albumId" class="form-control"  formControlName="albumId">
                <option *ngFor="let album of albums" [ngValue]="album.id">{{ album.id }}</option>
            </select>
        </div>
        <div >
            <button type="submit"   class="btn btn-primary saveButton">Save</button>
            <button (click)="cancel()"  class="btn btn-primary cancelButton">Cancel</button>
    
      </div>
    </form>
</div>
</div>
</div>
