<div class="container">
   <div class="row">
        <div class="col-lg-10">
           <div class="row">
             <div *ngFor="let img of images | reverse | numberelement:3;">
               <div class="col-md-3 ">
                  <div class="post">
                      
                      <img class="imagesOfPosts" [src]="img?.thumbnailUrl">
                      <div class="imageTitle"><b>Title: </b>{{img?.title}}</div>
                      <button class="btn btn-primary seeDetailsButton" (click)="seeImageDetails(img.id)">See Details</button>
                  </div>
                  </div>
                 
             </div>
          </div>
        </div>
      <div class="col-lg-2">
        <div class="users">
            <h5 class="title">Users:</h5>
            <div  *ngFor="let user of users">
                  <user-list [user]="user"></user-list>
               
           </div> 
      </div>
   </div>
</div>
