.post{
    width: 800px;
    height: 800px;
    background-color: white;
    margin-top: 20px;
    margin-left: 900px;
    margin-bottom: 40px;
    padding: 40px;
    border: #f2f2f2 solid 1px;
}
.imagesOfPosts{
    width: 790px;
    height: 650px;
    padding: 5px;
    margin-left: -35px;

}
.imageTitle{
    font-family: Arial, sans-serif;
    margin-left: -30px;
}